<h1>Repertoires</h1>

<% @repertoires.each do |repertoire| %>
  <div>
    <%= link_to repertoire.name, repertoire_path(repertoire) %> - <%= repertoire.white? ? 'white' : 'black' %>
  </div>
<% end %>

<%= link_to 'New', new_repertoire_path %>
