Repertoire : <%= @repertoire.name %>

<div>
<%= @repertoire.main_hole.fen %>
<div id="chessboard" class="blue merida">
</div>
---
<% @repertoire.main_hole.moves.each do |move| %>
  <div>Move: <%= move.san %></div>
<% end %>
</div>
