Repertoire : <%= @repertoire.name %>

<% @repertoire.positions.each do |position| %>
  <div><%= position.fen %></div>
<% end %>

<div>
Main Hole: <%= @repertoire.main_hole.fen %>
---
<% @repertoire.main_hole.moves.each do |move| %>
  <div>Move: <%= move.san %></div>
<% end %>
</div>
