<h2 class="text-center"><%= @repertoire.name %></h2>

<div class="row text-center">
  <div class="col-6 offset-3" id="chessboard-wrapper">
    <div class="blue merida" id="chessboard"></div>
  </div>
</div>

<br />

<div class="row text-center">
  <progress class="col-6 offset-3" id="progress" max="<%= @repertoire.size %>" value="0"></progress>
</div>

<script type="module">

import { Chessground } from 'chessground'
import { Chess } from 'chess.js'

let moves = <%= raw @repertoire.moves.to_json %>
let index = 0;

let game = new Chess();

var board = Chessground(document.getElementById('chessboard'), {
  orientation: '<%= @repertoire.color %>',
  fen: moves[index]["before"],
  movable: {
    events: {
      after: (orig, dest, metadata) => {
        if (orig + dest == moves[index]["uci"]) {
          success()
          index += 1;
          index = index % moves.length;
          updateProgress(index)
        } else {
          failure()
        }
        board.set({
          fen: moves[index]["before"]
        })
      }
    }
  }
})

function success() {
  let target = document.getElementById('chessboard-wrapper');
  target.style.backgroundColor = "green";
  setTimeout(() => {
    target.style.backgroundColor = "";
  }, 300)
}

function failure() {
  let target = document.getElementById('chessboard-wrapper');
  target.style.backgroundColor = "red";
  setTimeout(() => {
    target.style.backgroundColor = "";
  }, 300)
}

function updateProgress(index) {
  document.getElementById('progress').value = index;
}
</script>
