<% content_for :title, "New game training" %>

<h1>New game training</h1>

<%= render "form", game_training: @game_training %>

<br>

<div>
  <%= link_to "Back to game trainings", game_trainings_path %>
</div>
